<%# <%= select_tag "product_type", options_from_collection_for_select(ProductType.all, "id", "product_type") %>

<%= form_tag(@product_type, method: :get) do %>
    <%= collection_select :product_type, :id, ProductType.all.order('product_type ASC'), :id, :product_type,{include_blank: 'Select Category'} %>
    <%= submit_tag 'Search', product_type: nil %>
<% end %>

<h2>Featured Items: Colourpop</h2>
<%= paginate @products %>
<% @products.each do |product|%>
<ul><img src="<%=product.image_link%>" width="100px" onerror="this.src='https://www.schoolonlineuniversity.com/uploads/thumbnails/course_thumbnails/16.jpg'">
<%= link_to product.name, product%>
<span>$</span><%=product.price%><span>.00</span></ul>
<% end %>
</ol>