<!DOCTYPE html>
<html>
  <head>
  <title>MM 2022</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://js.stripe.com/v3/"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>


<body>
<div class="jumbotron text-center">
  <h1>Makeup Mayhem</h1>
  <p>Welcome to your cosmetic journey.</p>
</div>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>

</nav>

  <% if cart.present? %>
  <h1>Cart - <%= cart.size %></h1>
    <ul>
    <% cart.each do |p| %>
        <li><%= p.name %><%= link_to '', cart_path(p), method: :delete %></li>
      <% end %>
    </ul>
    <% end %>
    <% if user_signed_in? %>
 <div> Welcome <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign in", new_user_session_path %><br />
<% end %>

    <% if flash[:notice] %>
      <p>
        <%= flash[:notice]%>
      </p>
    <% end %>
    <%= form_with(url: search_products_path, method: :get, local: true) do %>
  <p>Which Product Would You Like To Find?</p>
  <%= text_field_tag(:words, nil, class: "input", placeholder: "Product Name Here!") %>
  <%= collection_select :product_type, :product_type_id, ProductType.all.order('product_type ASC'), :id, :product_type,{include_blank: 'Select Category'} %>
  <%= submit_tag("Search", class: "button is-primary") %>
<% end %>
    <%=yield %>

</div>
  </body>
</html>